/*fonts*/

/*Roboto Mono*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

/*adding a font family*/
$title-font: 'Roboto Mono', monospace;
$text-font: 'Slabo 27px', serif;

$reg-weight-light: 300;
$reg-weight-reg: 300;
$reg-weight-medium: 500;
$reg-weight-bold: 700;
$line-height: 1.5;

header a{
    text-transform: lowercase;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1, h2, h3, li{
    font-family: $title-font;
}

h1{
    font-size: 3.5vw;
}

h2{font-size: 3vw;}

p{
    font-family: $text-font;
    font-size: 2vw;
}



