/*fonts*/

/*Teko*/
@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,700&display=swap&subset=latin-ext');

/*adding a font family*/
$reg-font: 'Teko', sans-serif;;
$reg-weight-light: 300;
$reg-weight-reg: 300;
$reg-weight-medium: 500;
$reg-weight-bold: 700;
$line-height: 1.5;


